.box,.box2{
    color: white;
    border: solid gold;
    
}
#CaixaGrid{
    /* grid-template-columns:repeat(2,1fr); repetindo e indicando o tamanho */
    /* "fr" frame? */
    /* grid-template-columns: repeat(2, 1fr 2fr); */ /* esse caro indica quqe repete 5, o 1º tem 1fr de comprimento e o 2º tem 2fr */
    background-color: rgba(175, 166, 166, 0.728);
    border: solid  red;
   width: 100vw;
    display: grid;
    margin: 0 auto; /*centraliza no meio*/
    grid-template-columns: 20%  18%  18%  18% ;
    grid-template-rows:20% 20% 20% ;
    grid-gap: 0.5rem;
    display: none;
}
.ReiAfro{

    background-image: url("img/Rei-Afro.png");
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: solid rebeccapurple;

    grid-column-start: 1;
    grid-row: span 2;
    grid-column: 1;

}
.Bey{
    background-image: url("img/Beyonce.png");
    background-size:90% ;
    background-repeat: no-repeat;
background-position: center;
    border: solid red;
    grid-column-start: 2;
    grid-column: 2;
   
}
.GraceJones{
    border: solid teal;
    grid-column-start: 3;
    grid-row-end:span 2;
    grid-column: 3;
  
}
.ModeloVolume{
    border: solid yellow;
    grid-column-start: 4;
    grid-column: 4;
    grid-row:span 3;
}
.Nago{
    border: solid yellowgreen;
    grid-column-start: 5;
    grid-column: 5;

}
.PanteraNegra{
  
    border: solid indianred;
    grid-column: 2;
}
.ModeloRetinto{
   
    border: solid indigo;
    grid-column-start: 5;
    grid-column: 5;
    grid-row-end:span 2;
}
.Gloria{
   
    border: solid olive;
    grid-column-start: 1;
    grid-template-rows: 3;
    grid-column:1 ;
    grid-row: 3;
}
.Thais{
   
    border: solid orange;
    grid-column: 2;
    grid-row:3;
}
.Snoopy{

    border: solid orangered;
    grid-column-start: 2;
    grid-column: 3;
    grid-row: 3;
}
/*  teste 2 ------------------------ */
#ContainerGalery{
 
    display: grid;
    grid-template-columns: 0.3fr 0.2fr 0.2fr 0.3fr 0.2fr;
    grid-template-rows: 30vh 30vh 30vh;
    grid-template-areas:
    "rei Beyonce Grace Volume NagoHair"
    "rei Pantera Grace Volume Retinto"
    "GloriaM ThaisA SnoopyD Volume Retinto";
justify-content: center;
column-gap: 1.5vh;
row-gap: 1.5vh;
display: none;
}
.rei{
  
    grid-area: "rei";
    grid-column-start: 1;
    grid-row-end: span 2;
    background-image: url("img/Rei-Afro.png");
    background-size:45vh;
    background-position: center;
    background-repeat: no-repeat;
}
.Beyonce{
    grid-area: "Beyonce";
    grid-column-start: 2;
grid-template-rows: 1;
background-image: url("img/Beyonce.png");
background-size:cover;
background-repeat: no-repeat;
}
.Grace{
    grid-area: "Grace";
    grid-column-start: 3;
    grid-row-end: span 2;
    grid-template-rows: 1;
    background-image: url("img/grace-jones.png");
    background-size:cover;
    background-repeat: no-repeat;
}
.Volume{
    grid-area: "Volume";
    grid-column-start: 4;
    grid-template-rows: 1;
    grid-row-end: span 3;
    background-image: url("img/Modelo-cabelo-volumoso.png");
    background-size:cover;
    background-repeat: no-repeat;
}
.NagoHair{
    grid-area: "NagoHair";
    grid-column-start: 5;
    grid-row: 1;
    grid-column: 5;
    background-image: url("img/modelo-nago.png");
    background-size:cover;
    background-repeat: no-repeat;

}
.Pantera {
    grid-area: "Pantera";
    grid-column-start: 2;
    grid-template-rows: 2;
    background-image: url("img/Pantera-Negra.png");
    background-size:cover;
    background-repeat: no-repeat;
}
.Retinto {
    grid-area: "Retinto";
    grid-column-start: 5;
    grid-row-start: 2;
    grid-row-end: span 3;
    background-image: url("img/Modelo-retinto.png");
    background-size:cover;
    background-repeat: no-repeat;

}
.GloriaM {
    grid-area: "GloriaM";
    grid-column-start: 1;
    grid-template-rows: 3;
    background-image: url("img/gloriamaria.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position-x: -1.3rem;
}
.ThaisA {
    grid-area: "ThaisA";
    grid-column-start: 2;
    grid-template-rows: 3;
    background-image: url("img/Thais-Araujo.png");
    background-size:cover;
    background-repeat: no-repeat;
}

.SnoopyD{
    grid-area: "SnoopyD";
    grid-column-start: 3;
    grid-template-rows: 3;
    background-image: url("img/cabelo-snoopydog.png");
    background-size:cover;
    background-repeat: no-repeat;
}
/* teste media */
@media (min-width:201px) and (max-width:500px){

    /* MOBILE GALERY */
#MobileContainerGalery{
    border: solid red;
    display: grid;
    grid-template-columns: 4fr 4fr 4fr 4fr;
    grid-template-rows: 30vw  50vw 50vw 50vw 30vw;
   grid-template-areas: 
   "MobRei MobRei MobBeyonce MobPantera"
   "MobRei MobRei MobThaisA MobThaisA"
   "MobGloriaM MobGloriaM MobGloriaM MobGloriaM"
   "MobVolume MobRetinto MobGrace MobGrace"
   "MobNagoHair MobSnoopyD MobGrace MobGrace";
   grid-gap: 1vh;

}
.MobRei{
    border: solid seagreen;
    grid-area:MobRei ;
    background-image: url("img/Rei-Afro.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.MobBeyonce{
    border: solid seagreen;
    grid-area:MobBeyonce ;
    background-image: url("img/Beyonce.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.MobGrace{
    border: solid seagreen;
    grid-area:MobGrace ;
    background-image: url("img/grace-jones.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.MobVolume{
    border: solid seagreen;
    grid-area:MobVolume ;
    background-image: url("img/Modelo-cabelo-volumoso.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.MobNagoHair{
    border: solid seagreen;
grid-area: MobNagoHair;
background-image: url("img/modelo-nago.png");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
.MobPantera{
    border: solid seagreen;
    grid-area: MobPantera;
    background-image: url("img/Pantera-Negra.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.MobRetinto{
    border: solid seagreen;
    grid-area: MobRetinto;
    background-image: url("img/Modelo-retinto.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.MobGloriaM{
    border: solid seagreen;
    grid-area: MobGloriaM;
    background-image: url("img/gloriamaria.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.MobThaisA{
    border: solid seagreen;
    grid-area: MobThaisA;
    background-image: url("img/Thais-Araujo.png");
    background-size: cover;
    background-repeat: no-repeat;  
      background-position: center;
}
.MobSnoopyD{
    border: solid seagreen;
    grid-area: MobSnoopyD;
    background-image: url("img/cabelo-snoopydog.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

}